body{
    background-image: url('/Images/david-hepworth-EEQd7rE5hQA-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-color: black;
}

label{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

button{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: blue;
    color: white;
}

.header{
    height: 100px;
    margin: 30px;
}

#newComment{
    display: block;
    width: 98%;
    resize: none;
    margin: 5px auto 5px auto;
    border-radius: 20px;
    padding: 10px;
}

#addComments{
    display: block;
    margin: 5px auto 10px auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #820000;
    color: white;
    font-weight: bolder;
}

